* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #595b66;
  font-size: 14px;
  line-height: 16.94px;
}

.App {
  width: 1240px;
  margin: 0 auto;
}

.mySwiper {
  margin: 20px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.mySwiper img {
  width: 100%;
  border-radius: 20px;
  height: 430px;
}

.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.delete:hover {
  background-color: #c82333;
}

.go_back {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.go_back:hover {
  background-color: #0056b3;
}

.load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 60%;
  margin: 20px auto;
  padding: 20px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #e3e3e3; 
}

